.signup-container {
    width: 100%;
  max-width: 400px;
  margin: 2em auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.signup-title {
  font-size: 24px;
  margin-bottom: 20px;
}

.signup-form {
    display: flex;
    flex-direction: column;
  }

.signup-form input {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.signup-form button {
  width: 100%;
  padding: 10px;
  background-color: #28a745;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.signup-form button:hover {
  background-color: #218838;
}